<html>
    <head>
        <title>LAYOUT 6</title>
        <link rel="stylesheet" href="style6.css">
    </head>

    <body>
        <!-- header and nav bar start from here -->
        <header>
            <div class="nav_bar"></div>
            <div class="header"></div>
        </header>
        <!-- header and nav bar END here -->
        <!-- main content start from here -->
        <main>
            <section>
                <!-- item bar start from here -->
                <div class="items_bar">
                    <div class="item1"></div>
                    <div class="item2"></div>
                    <div class="item3"></div>
                </div>
            </section>
            <!-- item bar END here -->
            <section>
                <div class="image_description_container">
                    <div class="image1"></div>
                    <div class="image2"></div>
                </div>
                <div class="description"></div>

                
            </section>
        
        </main>
        <!-- main contenet END here -->
        <!-- footer start from here -->
        <footer>
            <div class="footer"></div>
        </footer>
        <!-- footer END here -->
    </body>
</html>