<html>
    <head>
        <title>LAYOUT1</title>
        <link rel="stylesheet" href="style3.css">
    </head>
    <body>
        <!-- header start from here -->
        <header>
            <div class="header_container"></div>
        </header>
        <!-- header END here -->

        <!-- main content start from here -->
        <main>
        <!-- slider panel start from here -->
            <section>
                <div class="slider_panel">
        <!-- slider1 start from here -->
                <div class="slider1"></div>

        <!-- slider1 END here -->


        <!-- slider2 start from here -->

                 <div class="slider2"></div>
        <!-- slider2 END here -->
        
        <!-- slider3 start from here -->
                <div class="slider3"></div>
        <!-- slider3 END here -->
            </div>
           <!-- slider panel END here -->
        </section>
        </main>
        <!-- main content END here -->

        <!-- footer start from here -->
        <footer>
            <div class="footer"></div>
        </footer>
        <!-- footer End here -->
    </body>
</html>