/* Header Start */

.header_container
{
    background-color:gray;
    height: 200px;
    width: 100%;
    border:2px solid black;
}

/* header END */

/* slider_panel start from here */
.slider_panel
{
    margin-top: 10px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}    

/* slider_panel END here */


/* slider1 start from here */

.slider1
{
    background-color: gray;
    height: 100%;
    width: 30%;
    border: 2px solid black;
}

/* slider1 END here */

/* slider2 start from here */


.slider2
{
    background-color: gray;
    height: 100%;
    width: 30%;
    border: 2px solid black;
}
    
/* slider2 END here */

/* slider3 start from here */

.slider3
{
    background-color: gray;
    height: 100%;
    width: 30%;
    border: 2px solid black;
}

/* slider3 END here */


/* footer start from here */


.footer
{
    margin-top: 10px;
    background-color: gray;
    height: 200px;
    width: 100%;
    border: 2px solid black;
}

/* footer END here */