<html>
    <head>
        <title>LAYOUT1</title>
        <link rel="stylesheet" href="style4.css">
    </head>
    <body>
        <!-- header start from here -->
        <header>
            <div class="header_container"></div>
        </header>
        <!-- header END here -->

        <!-- main content start from here -->
        <main>
        <!-- image_description start from here -->
            <section>
                <div class="image_description">
        <!-- image start from here -->
                <div class="image"></div>

        <!-- image END here -->


        <!-- description start from here -->

                 <div class="description"></div>
        <!-- description END here -->
        </div>
        <!-- description END here -->

        <!-- slider panel start from here -->
        <div class="slider_panel">
            <div class="slider1"></div>
            <div class="slider2"></div>
            <div class="slider3"></div>
        </div>
         <!-- slider panel END here -->
        
        </section>
        </main>
        <!-- main content END here -->

        <!-- footer start from here -->
        <footer>
            <div class="footer"></div>
        </footer>
        <!-- footer End here -->
    </body>
</html>