<html>
    <head>
        <title>LAYOUT1</title>
        <link rel="stylesheet" href="style.css"
    </head>
    <body>
        <!-- header start from here -->
        <header>
            <div class="header_container"></div>
        </header>
        <!-- header END here -->

        <!-- main content start from here -->
        <main>
        <!-- video description start from here -->
            <section>
                <div class="video_description_container">
        <!-- video container start from here -->
                <div class="video_container"></div>

        <!-- video container END here -->


        <!-- description container start from here -->

                 <div class="description_container"></div>
        <!-- description container END here -->
        </div>

           <!-- video description END here -->
        </section>
        </main>
        <!-- main content END here -->

        <!-- footer start from here -->
        <footer>
            <div class="footer"></div>
        </footer>
        <!-- footer End here -->
    </body>
</html>