/* Header Start */

.header_container
{
    background-color:gray;
    height: 200px;
    width: 100%;
    border:2px solid black;
}

/* header END */

/* video description container start from here */
.video_description_container
{
    margin-top: 10px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}    

/* video description container END here */


/* video container start from here */

.video_container
{
    background-color: gray;
    height: 100%;
    width: 74%;
    border: 2px solid black;
}

/* video container END here */

/* description container start from here */


.description_container
{
    background-color: gray;
    height: 100%;
    width: 25%;
    border: 2px solid black;
}
    
/* description container END here */


/* footer start from here */


.footer
{
    margin-top: 10px;
    background-color: gray;
    height: 200px;
    width: 100%;
    border: 2px solid black;
}

/* footer END here */